.local {

    height: auto;
    background-color: #fff;
}

.local h1 {
    font-size: 2.5rem;
    color: #B4ADAA;
    text-align: center;
    margin: 2rem;
}

.mySwiper-local {
    width: 100%;
    height: 450px;
    margin-bottom: 1rem;

}

.swiper-slide-local-1 {
    background-image: url("./img/local1.jpeg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide-local-2 {
    background-image: url("./img/local2.jpeg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide-local-3 {
    background-image: url("./img/local3.jpeg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide-local-4 {
    background-image: url("./img/local4.jpeg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.contenedor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 6rem 0 2rem 0;
    padding: 3rem;
    border-bottom: 1px solid #EEABBE;
}

.conte-txt-local {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.texto-horarios {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EEABBE;
    border-bottom: 0.1px solid #EEABBE;
    margin: 1rem;

}

.conte-img-local {
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 2rem;

}

.btn {
    margin: 2rem 0 0 2rem;

    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #EEABBE;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #EEABBE;
    border: 1px solid #EEABBE;
}

@media screen and (max-width: 768px) {

    .contenedor-info {
        flex-direction: column;
    }

    .mySwiper-local {
        width: 100%;
        height: 300px;
        margin-bottom: 1rem;

    }

    .conte-txt-local {
        width: 100%;
    }

    .conte-img-local {
        width: 100%;
        height: 300px;
    }

    .texto-horarios {
        font-size: 1.2rem;
    }

    .btn {
        margin: 2rem 0 0 0;
    }

    .swiper-slide-local-4 {

        width: 300px;
        height: 300px;
    }

    .swiper-slide-local-3 {

        width: 300px;
        height: 300px;
    }

    .swiper-slide-local-2 {

        width: 300px;
        height: 300px;
    }

    .swiper-slide-local-1 {

        width: 300px;
        height: 300px;
    }
}