/*colores: 
rosa : EEABBE
gris : B4ADAA
verde : 829D3A 
*/



.active {
    border-bottom: 2px solid #EEABBE;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    width: 100%;
    margin-bottom: 1rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
}

.logo{
    width: 70px;
    height: 70px;
    margin-left: 2rem;
}
.logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.logo img{
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}

nav ul.open {
    display: flex;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    display: block;
    color: #EEABBE;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 0 0.5rem;
    padding: 0.5rem;
}

.titulo:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

nav ul li a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

nav .menu {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    width: 100%;
    height: 0.25rem;
    background-color: #EEABBE;
    border-radius: 0.25rem;
}

@media (max-width: 950px) {
    nav .menu {

        display: flex;
        justify-content: space-between !important;
        margin-top: 0.5rem;
    }

    nav {
        flex-direction: column;
        align-items: start;
        box-shadow: 0px #fff;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;

    }

    .active {
        border-bottom: 0px solid #EEABBE;
    }
}
