.contacto{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 80px - 80px);
    background-color: #fff;
}
.titulo{
    font-size: 2.5rem;
    color: #B4ADAA;
    text-align: center;
    margin: 2rem;
}
form{
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.form-group{
    margin-bottom: 1rem;
}
label{
    font-size: 1.2rem;
    color: #EEABBE;
}
input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #EEABBE;
    border-radius: 0.5rem;
    outline: none;
}
textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #EEABBE;
    border-radius: 0.5rem;
    outline: none;
}
input:focus{
    border: 2px solid #EEABBE;
}
textarea:focus{
    border: 2px solid #EEABBE;
}

.btn-enviar-form{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #EEABBE;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn-enviar-form:hover{
    background-color: #fff;
    color: #EEABBE;
    border: 1px solid #EEABBE;
}

.titulo-wpp{
    font-size: 1.5rem;
    color: #EEABBE;
    margin-bottom: 1rem;
    text-align: center;
}
.btn-wpp{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #EEABBE;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.btn-wpp:hover{
    background-color: #fff;
    color: #EEABBE;
    border: 1px solid #EEABBE;
}

@media screen and (max-width: 768px){
    .contacto{
        height: calc(100vh - 80px - 80px - 80px);
    }
    .titulo{
        font-size: 1.5rem;
    }
    form{
        max-width: 400px;
    }
    .titulo-wpp{
        font-size: 1.2rem;
        color: #EEABBE;
        margin-bottom: 1rem;
        text-align: center;
    }
}
    

